<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <title>Home</title>
    <style type="text/css">
        #todocontainer {
            margin-top: 50px;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            min-height: 100 hv;
            overflow-x: hidden;
        }
    </style>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<section id="header">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark "
         style="background-color: #e3f2fd;">
      <p>All rights reserved
            <span></span></p>
    </nav>
</section>

<section id="todocontainer">
    <h2 style="padding-top: 30px; padding-bottom: 20px;"
        class="text-center">Welcome
        <!--/*@thymesVar id="appName" type="String"*/-->
        <span class="ui-state-focus" th:text="${appName}"></span>
    </h2>
    <div class="d-flex justify-content-center">
        <form action="/listBooks">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success">Books List</button>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center">
        <form action="/listSensor">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success">Sensor Monitor</button>
            </div>
        </form>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>